.app {
  background-color: rgba(43, 105, 14, 0.925);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body{
  background-color: aqua;
  border: 2px solid black;
}

.header {
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 30%;
}

.footer {
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 40%;

}

.HUD {
  background-color: gainsboro;
  border: 2px solid black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.cards-container{
  width: 1000px;
  height: 510px;
  border: 2px solid black;
}

.card {
  display: inline-block;
  margin: 20px;
  height: calc(150px - 30px);
  width: calc(195px - 0px);
  cursor: pointer;
}

.card:hover {
  transform: scale(0.98);
}

.card-image {
  height: calc(150px - 10px);
  width: calc(240px - 10px);
}